/* this is my css file for index.html */

.h1{
    color:cyan;
  
}
.p{
    color: rgb(34, 118, 139);
    font-size: 15px;
    /* background-color: yellow; */
    font-weight: bold;
    text-align: left;
    width: 260;
    height: 310;
    font-style: italic;
    padding-left: 10px;
    border: 4px solid blueviolet;
    /* border-radius: 5px 50px; */

 }
 p:hover{
    opacity: 1;
    border: 1px solid white;
    border-radius: 5px 50px;
}

 /*
#first,#f{
    color: red;
    background-color: blue;
} */
/* #f{
    color: blue;
    background-color: black;
} */
.Chrome{
    color: blue;
    background-color: red
}
 #firstP{
    color: blue;
    background-color: black;
} 
div{
    
}

div:hover{
    /* height: 600px;
    background-color: aquamarine;
    border: 0px;
   */
   border-radius: 15px;
} 
.img{
    width :200px;
    height :300px;
    float: right ;
    padding: 5px;
    border: 1px solid blueviolet;
    /* opacity: 0.8; */
    opacity: 0.4;
    /* box-shadow: 15px 30px; */
}
img:hover{
    opacity: 1;
    border: 1px solid white;
    border-radius: 5px 50px;
}
.imgrigth{
    width :200px;
    height :300px;
    float: left ;
    padding: 5px;
    border: 4px solid blueviolet;  
    opacity: 0.4;
}
a{
    color: darkgreen;
}
a:hover{
    color: red;
}
#header{
    width: 100%;
    height: 200px;
    border-bottom: 0px solid ;
    background-image: url(hamburg.jpg);
    background-size: 100% 200px;
    background-repeat: no-repeat;
  
}
#header img{
    width: 100%;
    height:200px;
   
}
/* #header1{
    background-image: linear-gradient(red,yellow,green)
    
} */
#left{
    float: left
}
#rigth{
    float: right
}
.content{
    width: 49.7%;
    height: 500px;
    border: 0px solid red;
    background-color: yellowgreen;
}
.footer{
    width: 100%;
    height: 80px;
    border: 1px solid blue;
    background-color: lightseagreen;
    clear: both;
    text-align: center;

}
.footer span{
    color: blue;
    font-size: 15px;
    font-weight: bold;

}
.footer a{
    text-decoration: none;
}